@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.SimpleContentPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "masterTemplate.cshtml";
}
<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">

        <header class="major special">
            <h2>Generic</h2>
            <p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p>
        </header>

        <a href="#" class="image fit"><img src="images/pic11.jpg" alt="" /></a>
        <p>@Model.Value("contentText")</p>
    </div>
</section>